name: commits

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: conventional
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: webiny/action-conventional-commits@v1.2.0
        # optional, required for private repos
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
